.ChangePassword-wrapper
{
    display: grid;
    grid-template-rows: 20% 80%;
    width: 30vw;
    height: 70vh;
    .logo-title 
    {
        display: flex;
        justify-content: center;
        align-items: center;

        img 
        {
            width: 50%;
        }
    }

    form 
    {
        display: grid;
        grid-template-rows: 10% 20% 20% 10%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);

        .form-title
        {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgb(241, 241, 241);

            h2
            {
                font-size: 15px;
            }
        }

        .new-password
        {
            display: flex;
            flex-direction: column;
            margin: 7%;

            input {
                border: 1px solid #E3E6EF;
                padding: 2%;
                border-radius: 6px;
            }
        }

        .confirm-new-password
        {
            display: flex;
            flex-direction: column;
            margin: 7%;

            input {
                border: 1px solid #E3E6EF;
                padding: 2%;
                border-radius: 6px;
            }
        }

        .change-password-button
        {
            margin: 7%;

            button
            {
                border-radius: 6px;
                width: 100%;
                background: #01B81A;
                color: white;
                border: none;
                padding: 2.5%;
            }
        }
    }
}