body {
    background-color: rgb(243, 243, 243);
}

.Dashboard-wrapper
{
    width: 100vw;
    height: 100vh;

    .sticky-top-nav
    {
        width: 100vw;
        height: 10vh;
        background-color: white;
        position: sticky;
        top:0px;

        .float-left
        {
            float: left;
            width: 20%;
            height: 100%;

            display: grid;
            grid-template-columns: 8fr 2fr;
            justify-items: center;
            align-items: center;

            img
            {
                width: 60%;
                height: 60%;
            }

            .burger-icon
            {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img
                {
                    width: 30%;
                    height: 30%;
                }
            }
        }

        .float-right
        {
            width: 20%;
            height: 100%;
            float: right;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .profile-pic
            {
                padding: 5%;
                img
                {
                    width: 100%;
                    height: 100%;
                }
            }

            .profile-name
            {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15%;
                font-size: 1vw;
            }
        }
    }

    .left-panel
    {
        width: 20vw;
        height: 100vh;
        background-color: rgb(253, 253, 253);
        display: flex;
        flex-direction: column;
        float: left;

        .profile
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 30%;
        }

        .produk
        {
            padding-left: 10%;
            padding-bottom: 5%;
            display: grid;
            justify-items: left;
            align-items: center;
            grid-template-columns: 15% 70% 15%;
        }

        .reservation
        {
            padding-left: 10%;
            padding-bottom: 5%;
            display: grid;
            justify-items: left;
            align-items: center;
            grid-template-columns: 15% 70% 15%;
        }

        & > *:not(.profile,.produk,.reservation)
        {
            padding-left: 10%;
            padding-bottom: 5%;
            display: grid;
            justify-items: left;
            align-items: center;
            grid-template-columns: 15% 85%;
        }
    }

    .main
    {
        width: 80vw;
        height: 100%;
        float: right;
        overflow-y: scroll;

        .title
        {
            width: 100%;
            height: 7%;
            padding: 1%;
            color: #506B8E;


            p
            {
                display: block;
                float: left;
            }

            div
            {
                float: right;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 10%;

                .dot
                {
                    width: 5px;
                    height: 5px;
                    border-radius: 100px;
                    background-color: gray;
                }
            }
        }
    }
}