.footer-wrapper
{
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span 
    {
        color: #8231D3;
    }

    h1 
    {
        font-size: 100%;
        margin-left: 10%;
    }
}